/* CSS Document */

body {background-color: #f7f7f7;}


/*Typography*/
.card-title{color: #fff; text-transform: uppercase; font-size: 12px; font-weight: bold;}
.section-title {color: #fff; text-transform: uppercase; font-size: 25px; font-weight: bold;}
h4 {line-height: 16px;}


/*NAVBAR*/
.navcustom {height: 75px;}
.underbar {border-bottom: solid 5px; border-bottom-color: #7abae4;}

/*CARDS*/
.cardcustom {box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); transition: 0.3s; border-radius: 5px; min-height: 235px; /* 5px rounded corners */ /* border: 1px solid #006394; */}
.card-bg-azul{background-color: #006394;}
/* Add rounded corners to the top left and the top right corner of the image */
.cardcustom img {border-radius: 5px 5px 0 0;}
.card-v-pad {padding-bottom: 25px;}
.card-text-pad {padding: 15px 20px;}
.card-img {width: 100%; opacity: 0.9;}
.card-h {min-height: 140px;}
.card-btn {background-color:#fff; width: 100%;}
.card-btn a {text-decoration: none; color:#006394;}
.card-btn a:hover {font-weight: bold;}
.card-btn:hover {border: 3px solid rgba(255,255,255,0.39);}

a .card-bg-azul:hover {background-color: rgba(0,99,148,0.68); text-decoration: none;}
a:hover {text-decoration: none;}
a .card-img:hover {opacity: 1;}

.overlay {height: 100%; width: 100%; opacity: 0; 
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;}
.hover-01:hover .overlay {opacity: 1;}

.hover-02 {transition: 0.6s ease; text-align: center;}
.hover-02 :hover{color:#006394; font-size: 18px; transition: 0.6s ease; text-align: center;}


/* SECTIONS */
.blue-section {background-color: #006394; padding-bottom: 80px; height: 100%;}

/* PAD's */

.title-pad {padding: 25px 0;}


/* LISTS */

ul {list-style-type: square; color: #fff; margin: 0; padding: 0; padding-right: 85px;}
li {font-size:15px; text-transform: uppercase; font-weight: bold; border-bottom: 1px solid rgba(255,255,255,0.20); padding: 10px 0;}
li:last-child { border: none;}
li a {text-decoration: none; color: #fff;  display: block;
 
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}
li a:hover {font-size: 20px; text-decoration: none;  color: rgba(255,255,255,0.58);}
